@import "@/styles/flowchart/style.css";
@import "@/styles/flowchart/theme.css";
@import "@/styles/flowchart/style2.css";
@import "@/styles/flowchart/style3.css";
@import "@/styles/flowchart/style4.css";

html,
body,
#app {
  margin: 0;
  height: 100%;
}

#app {
  text-transform: uppercase;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

